@page
@model ContactModel
@{
    ViewData["Title"] = "Index";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<form method="POST">
    <label for="firstName">Your first name</label>
    <input type="text" id="firstName" placeholder="Your name goes here" name="firstName" />
    <input type="submit" />
</form>